vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Mar 2019 08:21:04 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|res/link/1/5.1.html r/link/1/5.html 导航/9/jiaoben6619/link/1/index.html r/link/1/6.1.html r/link/1/6.2.html res/link/1/4.html res/link/1/5.html res/link/1/1.html res/link/1/2.html res/link/1/3.html r/link/1/4.1.html r/link/1/4.2.html
vti_author:SR|ccb-HP\\ccb
vti_modifiedby:SR|ccb-HP\\ccb
vti_timecreated:TR|08 Mar 2019 08:24:28 -0000
vti_cacheddtm:TX|08 Mar 2019 08:24:28 -0000
vti_filesize:IR|153388
vti_cachedlinkinfo:VX|S|../fonts/glyphicons-halflings-regular.eot S|../fonts/glyphicons-halflings-regular.eot S|../fonts/glyphicons-halflings-regular.woff2 S|../fonts/glyphicons-halflings-regular.woff S|../fonts/glyphicons-halflings-regular.ttf S|../fonts/glyphicons-halflings-regular.svg
vti_cachedsvcrellinks:VX|NSUS|r/link/fonts/glyphicons-halflings-regular.eot NSUS|r/link/fonts/glyphicons-halflings-regular.eot NSUS|r/link/fonts/glyphicons-halflings-regular.woff2 NSUS|r/link/fonts/glyphicons-halflings-regular.woff NSUS|r/link/fonts/glyphicons-halflings-regular.ttf NSUS|r/link/fonts/glyphicons-halflings-regular.svg
